@import "compass/css3";
.zoom-img {
  width: 200px;
  height: 200px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
   transition: all 2s ease;
}

body {
    font-family: 'Comic Sans MS', 'Marker Felt', !important;
    margin: 0px;
    color: #A5AE14 !important;
}

.banana {
    font-size: 2.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.for-scale {
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.main {
    text-align: center;
    margin: 10%;
}

img {
    max-width: 90%;
    height: auto;
}

.for-scale {
    font-family: 'Roboto Mono', monospace;
}

.header {
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
    background-color: #FFF485;
}

.button {
    background-color: #B8E986 !important;
    font-family: "Roboto Mono";
    max-width: 100%;
}

model-viewer {
    max-width: 100%;
}

.main > p {
    font-size: 1.2rem;
    margin-top: 5%;
}